.navLink {
        text-decoration: none;
        font-weight: 600;
        color: #9e0b66;
        font-size: 14pt;
        display: -webkit-flex;
        flex-direction: row;
        align-items: center;
        transition: color 0.2s;
}

.navLink:hover {
    color: rgba(158, 11, 102, 0.6);
    text-decoration: none;
}

.navLink:active {
    color: #d60d89;
    text-decoration: none;
}

.navDropOption {
    text-decoration: none;
    color: #9e0b66;
    font-size: 14pt;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
}

.dropItem {
    color: #6b6b6b !important;
}

.dropItem:active {
    color: white !important;
}

.dropItem:active {
    background-color: #d60d89 !important;
}




